<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>{% extends 'base.html' %}


{% block head  %}
<title>Network Administration Assignment</title>
{% endblock%}

{% block body %}
<div class="content">
    <div class="divhead">
    <h1 class="head" >Network  Assignment</h1>
</div>
   
    <p>{{mac_address}}</p>
<br>
    <a href="/getRam">  Get ram Infos</a>
    <p>{{total_mem}}</p>
    <p>{{used_mem}}</p>
    <p>{{free_mem}}</p>

<br>
<a href="/getTempCpu">  Get  processor temperature </a>
<p>{{temperature}}</p>

</div>
{% endblock %}
<body>
    <h1>Home Page</h1>
</body>
</html>